<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12">
            <h4 class="text-primary mt-2 bold">Danh sách chấm công</h4>
          </div>
          <div class="col-12 d-flex">
            <button type="button" class="btn btn-success mr-1" (click)="exportTOExcel()">
              <i class="fa fa-file-excel-o mr-1"></i> Xuất Excel
            </button>
            <button type="" class="btn btn-primary mr-2" (click)="reLoad()"><i class="fa fa-refresh mr-1"></i> Làm
              mới</button>
            <input class="form-control" style="margin-top: 10px;
            width: 25%;
            height: 33px;
            border-radius: 5px;
            border: 1px solid #006eb9;" type="text" ngxDaterangepickerMd [(ngModel)]="dateRange" [ranges]="ranges"
              [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" (ngModelChange)="loadData()" />
          </div>
        </div>
      </div>
      <div class="card-body pt-0 mt-3">
        <div class="boxscroll grow">
          <table id="shop-table" class="table radius m-0 table-hover" style="min-width: 1200px; width: 100%;">
            <thead>
              <tr>
                <th *ngFor="let field of fields" [key]="field.key" [style]="field.style">
                  {{ field.label }}
                </th>
              </tr>
              <tr class="table-search">
                 <th>
                  <input type="text" [(ngModel)]="params.username" (keyup.enter)="processFilter()"
                    class="form-control form-control-sm" placeholder="Tìm kiếm">
                </th>
                 <th>
                  <input type="date" [(ngModel)]="params.timeIn" (change)="processFilter()"
                    class="form-control form-control-sm" placeholder="Tìm kiếm">
                </th>
                 <th>
                  <input type="date" [(ngModel)]="params.timeOut" (change)="processFilter()"
                    class="form-control form-control-sm" placeholder="Tìm kiếm">
                </th>
                 <th>
                  <input type="text" [(ngModel)]="params.totalOrder" (keyup.enter)="processFilter()"
                    class="form-control form-control-sm" placeholder="Tìm kiếm">
                </th>
                 <th>
                  <input type="text" [(ngModel)]="params.processedOrder" (keyup.enter)="processFilter()"
                    class="form-control form-control-sm" placeholder="Tìm kiếm">
                </th>
                 <th>
                  <input type="text" [(ngModel)]="params.successOrder" (keyup.enter)="processFilter()"
                    class="form-control form-control-sm" placeholder="Tìm kiếm">
                </th>
              </tr>
            </thead>
            <tbody *ngIf="data.length">
              <tr *ngFor="let item of data;index as i" [key]="item.id">
                <td>
                  {{item.staff.userName}}
                </td>
                <td>
                  {{item.timeIn}}
                </td>
                <td>
                  {{item.timeOut}}
                </td>
                <td>
                  {{item.totalOrder}}
                </td>
                <td>
                  {{item.processedOrder}}
                </td>
                <td>
                  {{item.successOrder}}
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!data.length">
              Không có dữ liệu
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-right" style="margin-top: auto;">
        <nav aria-label="Page navigation">
          <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="3"
            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)">
          </ngb-pagination>
        </nav>
      </div>
    </div>
  </div>
</div>