<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12">
            <h4 class="text-primary mt-2 bold">Danh sách chấm công</h4>
         </div>
          <div class="col-12 d-flex" >
            <button
              type="button"
              class="btn btn-success mr-1"
              (click)="exportTOExcel()"
            >
              <i class="fa fa-file-excel-o mr-1"></i> Xuất Excel
            </button>
            <button type="" class="btn btn-primary mr-2" (click)="reLoad()"><i class="fa fa-refresh mr-1"></i> Làm mới</button>
            <input class="form-control" style="margin-top: 10px;
            width: 25%;
            height: 33px;
            border-radius: 5px;
            border: 1px solid #006eb9;" type="text" ngxDaterangepickerMd 
            [(ngModel)]="dateRange" 
            [ranges]="ranges" 
            [showCustomRangeLabel]="true"
            [alwaysShowCalendars]="true"
            (ngModelChange)="checkLoadData()"/>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
          <jqxGrid #gridReference
          [width]="'100%'" [source]="dataAdapter" [columns]="columns" [editable]="true"
          [pageable]="true" [height]="height" [autorowheight]="true" [sortable]="true" 
          [filterable]="true" [showfilterrow]="true" [rowsheight]="45" 
          [altrows]="true"  [enabletooltips]="true"
          (onRowselect)="onRowSelect($event)"
          >
          </jqxGrid>
      </div>
    </div>
  </div> 
</div>
