<div class="modal-header">
    <div style="font-size: 24px;">
        <p class="m-0">Thông tin checkin</p>
        <button class="btn btn-link" style="position: absolute;right: 0px;top: -7px;" (click)="dismiss()">x</button>
    </div>
</div>
<div class="modal-body">
    <table class="table table-bordered mb-0">
        <tr>
            <td style="width:30%" class="bold">Check In: </td>
            <td>{{this.time}}</td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button (click)="save()" type="" class="btn btn-primary">Xác nhận</button>
    <button (click)="dismiss()" type="button" class="btn btn-danger">Hủy</button>
</div>