<div class="modal-body">
  <div class="text-center" style="font-size: 18px;">
    <b class="title-popup">{{title?title:''}}</b>
    <button class="btn btn-link" style="position: absolute;right: 0px;top: -7px;" (click)="closeModal()">x</button>
  </div>
  <div class="mt-1 row">
    <div class="col-6">
      <h4 class="bold text-primary">Thông tin tài khoản</h4>
      <div class="form-group form-outline mb-1">
        <label class="text-primary"><i class="fa fa-user"></i> Họ và tên</label>
        <input type="text" name="Họ và tên" [(ngModel)]="name" placeholder=" Họ và tên "
          class="form-control form-control-lg" style="height:2.5rem ;">
      </div>
      <div class="form-group form-outline mb-1">
        <label class="text-primary"><i class="fa fa-user"></i> Tên tài khoản</label>
        <input type="text" name="username" [(ngModel)]="username" placeholder=" Tên tài khoản"
          class="form-control form-control-lg" style="height:2.5rem ;" [disabled]="data">
      </div>
      <div class="form-group form-outline mb-1">
        <label class="text-primary"><i class="fa fa-map-marker"></i> Địa chỉ</label>
        <input type="text" name="Địa chỉ" [(ngModel)]="address " placeholder=" Địa chỉ"
          class="form-control form-control-lg" style="height:2.5rem ;">
      </div>
      <div class="form-group form-outline mb-1">
        <label class="text-primary"><i class="fa fa-lock"></i> Mật khẩu</label>
        <input type="password" name="password" [(ngModel)]="password" placeholder=" Mật khẩu"
          class="form-control form-control-lg" style="height:2.5rem ;">
      </div>
      <div class="form-group form-outline mb-1">
        <label class="text-primary"><i class="fa fa-lock"></i> Nhập lại mật khẩu</label>
        <input type="password" name="passWord" [(ngModel)]="retypePassword" placeholder="Nhập lại mật khẩu"
          class="form-control form-control-lg" style="height:2.5rem ;">
      </div>
    </div>
    <div class="col-6">
      <h4 class="bold text-primary">Thông tin người dùng</h4>
      <div class="form-group form-outline mb-1">
        <label class="text-primary"><i class="fa fa-phone"></i> Số điện thoại</label>
        <input type="text" name="Số điện thoại" [(ngModel)]="sdt" placeholder=" Số điện thoại "
          class="form-control form-control-lg" style="height:2.5rem ;">
      </div>
      <div class="form-group form-outline mb-1">
        <label class="text-primary"><i class="fa fa-sitemap"></i> Phân quyền</label>
        <select class="form-control" [(ngModel)]="role">
          <option value="user">user</option>
          <option value="marketing">marketing</option>
          <option value="admin">admin</option>
        </select>
      </div>
      <div class="form-group form-outline mb-1">
        <label class="text-primary"><i class="fa fa-envelope"></i> Email</label>
        <input type="text" name="Email" [(ngModel)]="email" placeholder=" email" class="form-control form-control-lg"
          style="height:2.5rem ;">
      </div>
    </div>
    <div class="form-group form-outline mb-1 col-6">
      <label class="text-primary"><i class="fa fa-ship"></i> Danh sách phòng ban</label>
      <ng-select [(ngModel)]="listSelect" name="listSelect" [multiple]="true" [clearable]="true"
        placeholder="Danh sách phòng ban">
        <ng-option *ngFor="let obj of listDepartment" [value]="obj.code">{{obj.code}} - {{obj.name}}</ng-option>
      </ng-select>
    </div>
  </div>
</div>
<div class="modal-footer mt-2 mb-2">
  <button type="" class="title-popup" (click)="create()"><i class="fa fa-save mr-1"></i> Lưu thông tin</button>
</div>