<div class="row call-log-container">
  <div class="col-md-12 call-log-main">
    <div class="card card-content-page">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-12">
            <h4 class="text-primary mt-2 bold">Call Logs</h4>
          </div>
          <div class="col-12 d-flex call-log-statistic">
            <button type="button" class="btn bg-green mr-1" (click)="exportTOExcel()">
              <i class="fa fa-file-excel-o mr-1"></i> Xuất EXCEL
            </button>
            <button type="button" class="btn btn-success mr-1">
              Trả lời ({{thongKe?plugins.formatNumber(thongKe.answeredCallLogs):0}} -
              {{thongKe?plugins.formatNumber(thongKe.percent_ANSWERED):0}}%)
            </button>
            <button type="button" class="btn btn-danger mr-1">
              Không trả lời ({{thongKe?plugins.formatNumber(thongKe.noAnswerCallLogs):0}} -
              {{thongKe?plugins.formatNumber(thongKe.percent_NOANSWER):0}}%)
            </button>
            <button type="button" class="btn bg-orange mr-1">
              Máy bận ({{thongKe?plugins.formatNumber(thongKe.busyCallLogs):0}} -
              {{thongKe?plugins.formatNumber(thongKe.percent_BUSY):0}}%)
            </button>
            <button type="button" class="btn btn-purple mr-1">
              Ngoài vùng phủ sóng ({{thongKe?plugins.formatNumber(thongKe.congestionCallLogs):0}} -
              {{thongKe?plugins.formatNumber(thongKe.percent_CONGESTION):0}}%)
            </button>
          </div>
          <div class="col-7 text-primary d-flex pt-2 pb-2 statistic-container">
            <div class="mr-5 statistic-item statistic-item-call">
              <span class="text-uppercase">tổng số cuộc gọi: </span>
              <span class="bold">{{thongKe?plugins.formatNumber(thongKe.totalCallLogs):0}}</span>
            </div>
            <div class="mr-5 statistic-item statistic-item-avg">
              <span class="text-uppercase">Thời lượng trung bình: </span>
              <span class="bold">{{thongKe?plugins.formatNumber(thongKe.averageTime):0}}s</span>
            </div>
            <div class="mr-5 statistic-item statistic-item-count">
              <span class="text-uppercase">Số lượng blacklist: </span>
              <span class="bold">{{thongKe?plugins.formatNumber(thongKe.numberOfBlacklist):0}}</span>
            </div>
          </div>
          <div class="col-5 date-picker-container">
            <input class="form-control pl-3 mt-0 mb-1" style="
                        margin-top: 10px;
                        float: right;
                        height: 33px;
                        width:300px;
                        float: right;
                        border-radius: 5px;
                        border: 1px solid #006eb9;
                    " type="text" ngxDaterangepickerMd [(ngModel)]="dateRange" [ranges]="ranges" opens="left"
              [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" (ngModelChange)="loadData()" />

          </div>
        </div>
      </div>
      <div class="card-body pt-0 d-flex flex-column" style="height: 645px">
        <div class="boxscroll grow">
          <table id="shop-table" class="table radius m-0 table-hover" style="min-width: 1200px; width: 100%;">
            <thead>
              <tr>
                <th class="px-1 text-center" style="width: 70px">
                  #
                </th>
                <th style="width:160px">Số điện thoại</th>
                <th>Thời gian</th>
                <th (click)="sortData('duration')">Thời lượng <i class="fa fa-sort"></i></th>
                <th style="width:160px">Trạng thái</th>
                <th>Ghi âm</th>
                <th>Danh sách đen</th>
              </tr>
              <tr class="table-search">
                <th></th>
                <th>
                  <input type="text" [(ngModel)]="params.phone" autocomplete="off" class="form-control form-control-sm"
                    placeholder="Tìm kiếm" (keyup.enter)="loadData()">
                </th>
                <th>
                  <input type="text" autocomplete="off" class="form-control form-control-sm" placeholder="Tìm kiếm">
                </th>
                <th>
                  <input type="text" autocomplete="off" [(ngModel)]="params.duration"
                    class="form-control form-control-sm" placeholder="Tìm kiếm" (keyup.enter)="loadData()">
                </th>
                <th class="position-relative">
                  <select class="form-control" [(ngModel)]="params.status" name="trangThai" (change)="loadData()">
                    <option value="">Tất cả</option>
                    <option value="ANSWERED">Trả lời</option>
                    <option value="NO ANSWER">Không trả lời</option>
                    <option value="BUSY">Bận</option>
                    <option value="CONGESTION">Ngoài vùng phủ sóng</option>
                  </select>
                </th>
                <th>
                  <input type="text" autocomplete="off" [(ngModel)]="params.recording"
                    class="form-control form-control-sm" placeholder="Tìm kiếm" (keyup.enter)="loadData()">
                </th>
                <th>
                  <input [(ngModel)]="params.blacklist" type="text" autocomplete="off"
                    class="form-control form-control-sm" placeholder="Tìm kiếm" (keyup.enter)="loadData()">
                </th>
              </tr>
            </thead>
            <tbody *ngIf="data.length">
              <tr *ngFor="let item of data, let i=index" [key]="item.id"
                [ngClass]="{'tr-selected': listSelected.includes(item.id)}">
                <td class="text-center">
                  {{(10* (params.page - 1)) + i + 1}}
                </td>
                <td>
                  {{formatPhone(item.phone)}}
                </td>
                <td>
                  {{convertDateTime(item.calldate)}}
                </td>
                <td>
                  {{plugins.formatNumber(item.duration)}}
                </td>
                <td class="text-center">
                  {{item.status}}
                </td>
                <td>
                  <a [href]="item.recording">{{item.recording}}</a>
                </td>
                <td>
                  {{item.blacklist}}
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="!data.length">
            Không có dữ liệu
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-right" style="margin-top: auto;">
        <nav aria-label="Page navigation">
          <ngb-pagination [collectionSize]="totalItems" [(page)]="params.page" [pageSize]="params.itemsPerPage"
            [maxSize]="3" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(params.page)">
          </ngb-pagination>
        </nav>
      </div>
    </div>
  </div>
</div>