<div class="bg-popup-info">
  <div class="modal-body row">
    <div class="text-center col-12 mb-4" style="font-size: 18px;">
      <b class="title-popup">Tự động giao việc</b>
      <button class="btn btn-link" style="position: absolute;right: 0px;top: -22px;" (click)="dismiss()">x</button>
    </div>
    <div class="col-10 form-group form-outline">
      <h4 class="bold text-primary mt-1">
        Số lượng công việc cần xử lý:
        <input type="number" min="0" max="{{listWork.length}}" step="1"
          style="border-radius: 8px; border:1px solid #006EB9" [(ngModel)]="numOfWork" (change)="onChangeNumOfWork()" /> /
        {{listWork.length}}
      </h4>
    </div>
    <div class="col-2 text-right">
      <button class="btn btn-sm btn-primary" style="margin:0px;padding: 12px 20px;" (click)="getUserActive('all')"><i
          class="fa fa-refresh"></i></button>
    </div>
    <div class="col-12">
      <!-- <jqxGrid #gridNhanVien
            [width]="'100%'" [source]="dataAdapter" [columns]="columns" [editable]="true" [height]="height"
            [pageable]="true" [sortable]="true" 
            [filterable]="true" [showfilterrow]="true" [rowsheight]="45" 
            [altrows]="true"  [enabletooltips]="true"  [selectionmode]="'checkbox'"
            (onRowselect)="onRowSelect($event)" [localization]="localization" (onRowunselect)="onRowunselect($event)"
            >
          </jqxGrid> -->
      <div class="mt-2">
        <div class="table-popup" style="height:480px">
          <table id="" class="table radius m-0 table-hover" width="100%" cellspacing="0" cellpadding="0" border="0">
            <thead>
              <tr>
                <th style="width: 50px;" class="th-f text-center">
                  <input class="check-box" type="checkbox" (change)="checkAll()" [(ngModel)]="checkAllValues"
                    name="checkAllValues" />
                </th>
                <th style="width: 170px;">Tên đăng nhập</th>
                <th>Họ tên</th>
                <th style="width: 250px;">Thời gian checkin</th>
                <th class="th-fi" style="width: 200px;">Số lượng đơn giao</th>
              </tr>
              <tr class="table-search">
                <th></th>
                <th> <input type="text" [(ngModel)]="ftTenDangNhap" (keyup.enter)="getUserActive('')"
                    class="form-control form-control-sm" placeholder="Tìm kiếm"></th>
                <th> <input type="text" [(ngModel)]="ftHoTen" (keyup.enter)="getUserActive('')"
                    class="form-control form-control-sm" placeholder="Tìm kiếm"></th>
                <th> <input type="text" 
                    class="form-control form-control-sm" placeholder="Tìm kiếm"></th>
                <th> <input type="text"
                    class="form-control form-control-sm" placeholder="Tìm kiếm"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entity of listUser, index as i">
                <td class="text-center">
                  <input class="check-box" type="checkbox" [id]="'check'+i" (change)="checkOnIndex(i)"
                    [(ngModel)]="checkBoxValues[i]">
                </td>
                <td>
                  {{entity.account?entity.account.userName:''}}
                </td>
                <td>
                  {{entity.account?entity.account.fullName:''}}
                </td>
                <td>
                  {{entity.thoiGianVao}}
                </td>
                <td>
                  {{entity.soLuongCV}}
                </td>
              </tr>
              <tr *ngIf="listUser.length === 0">
                <td class="bg-gray" colspan="5">Không có dữ liệu!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
    </div>
  </div>
  <div class="modal-footer mt-2 mb-2">
    <button type="" class="title-popup" (click)="assignWork()"><i class="fa fa-save mr-1"></i> Lưu thông tin</button>
  </div>
  </div>